body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

*{
    box-sizing: border-box;
}

/** Style du header */
header{
    background-color: #ffffff;
    box-shadow: 0 0 5px 2px #00000040;
    padding: 20px;
    position: relative;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul, footer ul{
    list-style-type: '';
    padding: 0;
    margin: 0;
}
header li a{
    color: #868686;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    font-size: 14px;
}

/* version mobile */
@media screen and (max-width: 767px) {
    header ul{
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #ffffff;
        width: 100%;
        left: 0;
    }

    #burger:hover + ul{
        display: block;
    }
}
/* version desktop */
@media screen and (min-width: 768px) {
    #burger{
        display: none;
    }

    header li{
        display: inline-block;
    }
}

/** Style du Corps de la page  */
main{
    background-color: #f3f3f3;
    padding: 40px 10px;
    color: #868686;
}

h1{
    font-size: 24px;
    font-weight: 500;
    color: #333333;
}

h2, h3{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

.box{
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 1px 1px 0 #00000020;
}

figure{
    margin: 0;
    text-align: center;
}
img{
    max-width: 100%;
}

#square{
    width: 120px;
    height: 120px;
    object-fit: cover;
}


@media screen and (min-width: 1024px){
    .container{
        display: flex;
        max-width: 1024px;
        margin: auto;
    }
    section{
        padding: 20px;
    }
    #presentation{
        width: 60%;
    }
    #more-info{
        width: 40%;
    }
    #more-info-box{
        display: flex;
        align-items: center;
    }
    #more-info-box img{
        margin-right: 20px;
    }
}


/** Style des boutons */
.btn{
    display: inline-block;
    padding: 10px 15px 11px;
    border: solid 1px #86868640;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #00000020;
    color: #868686;
    text-decoration: none;
}

.btn:hover {
    text-decoration: underline;
    box-shadow: 0 5px 5px 5px #00000020;
}

/** Style des tables */
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    color: #000000;
    text-align: left;
}
th, td {
    border: solid 1px #dcdcdc;
    padding: 8px;
}

/** Style du footer */
footer{
    color: #868686;
    background-color: #ffffff;
}
footer .container{
    padding: 40px 20px
}
#subfooter {
    padding: 20px;
}
footer h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 40px;
}
footer a{
    color: #868686;
    text-decoration: none;
}
.tag {
    background-color: #f3f3f3;
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
}
@media screen and (min-width: 1024px) {
    footer .container > div{
        width: 25%;
        padding: 40px 20px 40px 10px;
    }
}
